.area {
  h2 {
    margin-top: 7rem;
    text-align: center;
  }

  &__buttons {
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

    @include phone-and-tablet {
      width: auto;
    }

    &__single {
      width: 15rem;
      padding: 1rem 2rem;
      margin: 1rem;

      @include phone {
        flex: 1 1 30%;
        width: 11rem;
      }
    }
  }
}
