.back__button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  .circle {
    width: 8rem;
    height: 8rem;
    border-radius: 0 0 10rem 0;
    z-index: -1;
    transition: 1s;
    background: $main-color;
    position: absolute;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);

    span {
      text-align: center;
      font-size: 1.2rem;
      font-family: $recipe-font;
      position: absolute;
      width: 100%;
      left: -20%;
      top: 30%;
      transform-origin: top center;
      color: $background;
      transform: rotate(-45deg);
      transition: 1s;
    }

    &:hover {
      background: $decorative-color;
      cursor: pointer;

      span {
        color: $background;
      }
    }
  }
}