.back__button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  .circle {
    position: absolute;
    top: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 0 0 10rem 0;
    z-index: -1;
    @include transition(1s);
    background: $main-color;
    box-shadow: 0 5px 15px $decorative-color;

    &__text {
      text-align: center;
      @include font-size(1.2);
      font-family: $recipe-font;
      position: absolute;
      width: 100%;
      left: -20%;
      top: 30%;
      transform-origin: top center;
      color: $background;
      @include rotate(-45);
      @include transition(1s);
    }

    &:hover {
      background: $decorative-color;
      cursor: pointer;

      & > &__text {
        color: $background;
      }
    }
  }
}