.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;

  &__description {
    padding: 2rem;
    width: 80%;
    height: 80%;
    background: $carousel-color;

    @include phone {
      width: 100%;
    }

    h3 {
      margin: 5rem 0;

      @include phone {
        margin: 3rem 0;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;

      @include phone {
        flex-direction: column;
      }

      &__tags {

        @include phone {
          margin: 1rem 0;
        }

        span {
          background: $background;
          color: #443838;
          font-size: .8rem;
          padding: 0.2rem 0.5rem;
          margin: 0 1rem;
          letter-spacing: .2rem;
          cursor: pointer;
          transition: 1s;

          @include phone {
            margin-right: 1rem;
          }

          &:hover {
            color: $background;
            background: #443838;
          }
        }
      }

      &__date {
        span {
          font-size: 1.2rem;
          line-height: 3rem;
          letter-spacing: .2rem;
          font-weight: 600;
          color: #443838;
          font-family: $recipe-font;
          text-shadow: 5px 5px rgba(0, 0, 0, 0.18);
          z-index: 2;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      @include phone {
        margin: 0;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p {
        padding: 0 5rem;
        font-size: 1.2rem;
        font-family: $base-font;
        text-align: left;
        line-height: 2.5rem;
        color: $decorative-color;
        margin: 3rem 0;

        @include phone {
          padding: 0 1rem;
          font-size: 1rem;
          line-height: 2rem;
        }
      }

      img {
        width: 80%;
        vertical-align:top;
        height: 15rem;
        object-fit: cover;
        border: 0.2rem groove;
        padding: 0.5rem;

        @include phone {
          width: 100%;
        }
      }
    }

    &__icons {
      display: flex;
      justify-content: flex-end;

      &__share, &__like {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
          background: $background;
          color: #443838;
          font-size: .8rem;
          padding: 0.2rem 0.5rem;
          margin: 0 1rem;
          letter-spacing: .2rem;
          transition: 1s;
        }

        img {
          width: 25%;
          margin: 1rem;
          cursor: pointer;
        }
      }
    }

    &__comments {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      .decoration {
        position: absolute;
        z-index: 0;

        &:first-of-type {
          left: 0;
        }

        &:nth-of-type(2n) {
          right: 0;
          bottom: 0;
          transform: rotate(50deg);
        }
      }

      &__single {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        background: $background;
        padding: 2rem;
        transform-style: preserve-3d;

        &:after {
          content: "";
          width: 50rem;
          height: 50rem;
          background: url("./../../assets/decoration.png") no-repeat;
          position: absolute;
          z-index: -1;

        }

        &:nth-child(odd) {
          &:after {
            right: -30rem;
            transform: translateZ(-1px);
          }
        }

        &:nth-child(even) {
          &:after {
            left: -20rem;
            top: 6rem;
            transform: translateZ(-1px) rotate(50deg);
          }
        }

        @include phone {
          width: auto;
        }

        h4 {
          width: 100%;
          margin: 1rem 0;
          word-spacing: 2rem;
        }

        p {
          width: 100%;
          font-family: $base-font;
          line-height: 2rem;
          padding: 1rem;
        }

        &__reply {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;

          span {
            background: #443838;
            width: 80%;
          }

          &__details {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }

  .line-between {
    background: #443838;
    width: 90%;
    position: relative;
    height: 0.05rem;
    opacity: .2;
    margin: 1rem auto;
  }
}