.slick-slider {
  .fas {
    position: absolute;
    color: $main-color;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    z-index: 10;
  }

  .fa-long-arrow-alt-left {
    top: 50%;
    left: 1rem;
    transform: translate(0%, -50%);
  }

  .fa-long-arrow-alt-right {
    top: 50%;
    right: 1rem;
    transform: translate(0%, -50%);

  }
}

.carousel {
  display: flex;
  justify-content: center;
  outline: none;

  &__slide {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    height: 40rem;
    width: 90%;
    align-items: center;
    position: relative;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      background: $carousel-color;

      a {
        display: flex;
        justify-content: flex-end;
      }

      img {
        height: 10rem;
      }

      p {
        font-family: $base-font;
        width: 70%;
        text-align: center;
        line-height: 2rem;
        color: $decorative-color;
      }


      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 50px solid $carousel-color;
        border-bottom: 25px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
      }

      &__button {
        width: 70%;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__image {
      height: 100%;
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.slick-prev {
  z-index: 10;
  left: 1rem;
}

.slick-next {
  z-index: 10;
  right: 1rem;
}