.footer {
  width: 100%;
  background: $main-color;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transition: 2s;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    top: 0;
    width: 100%;
    position: absolute;

    &__list {
      margin: 2rem 5rem;
        li {
          padding: 1rem 0;
          cursor: pointer;
          z-index: 1;

          a {
            color: white;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            position: relative;
            padding: 0.3rem 0;

            &:after, &:before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 0.05rem;
              transition: all 0.5s ease-in-out;
              opacity: 0;
              background-color: $background;
            }

            &:hover {
              &:after, &:before {
                width: 100%;
                opacity: 1;
              }
            }
          }
        }

      ul {
        transition: .5s;
      }
    }
  }

  &__decorations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    cursor: pointer;

    .fas {
      position: absolute;
      color: $main-color;
      font-size: 2rem;
      text-align: center;
      transition: 1s;
      bottom: 3rem;

      &.rotate {
        bottom: -2rem;
      }
    }

    .circle {
      width: 8rem;
      height: 4rem;
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
      z-index: -1;
      transition: 1s;
      background: white;
    }
  }

  &.show {
    height: 13rem;

    ul {
      opacity: 1;
    }

    .circle {
      opacity: 0;
    }

  }

  &.hide {
    height: 0.5rem;

    ul {
      opacity: 0;
    }

    .circle {
      opacity: 1;
    }

  }

  &__copyright {
    width: 100%;
    height: 3rem;
    background: $background;
    bottom: 0;
  }
}