.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $main-color;
  transition: 2s;
  border-top: .5rem groove $background;
  position: relative;
  bottom: 0;
  z-index: 10;

  @include phone {
    flex-direction: column-reverse;
  }

  &__links {
    display: flex;
    justify-content: center;
    transition: 2s;
    top: 0;
    width: 40%;

    @include phone {
      justify-content: space-evenly;
      width: 90%;
    }

    &__list {
      width: calc(100% /3);
      margin: 2rem 3rem;
      line-height: 1.5rem;
      position: relative;

      &:nth-of-type(2):after, &:nth-of-type(3):after {
        content: "";
        width: 0.2rem;
        height: 80%;
        position: absolute;
        background: $background;
        top: 10%;
        left: -50%;

        @include phone {
          left: -25%;
        }
      }

      @include phone {
        margin: 0;
      }

      li {
        padding: 1rem 0;
        cursor: pointer;
        z-index: 1;

        a {
          color: white;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          position: relative;
          padding: 0.3rem 0;

          &:after, &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0.05rem;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            background-color: $background;
          }

          &:hover {
            &:after, &:before {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        transition: .5s;
        height: 100%;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background: $main-color;
    font-family: $base-font;
    color: $background;
    bottom: 0;

    @include phone {
      margin: 2rem;
      width: 90%;
    }

    i {
      font-size: 2rem;
    }

    &__names {
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
      font-size: .8rem;
      line-height: 1.2rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .2rem;

      span {
        padding: .2rem;
      }

      p {
        span {
          background: $background;
          width: 30%;
          color: $main-color;
        }
      }
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $background;
    width: 10%;

    @include phone {
      flex-direction: row;
      width: 50%;
      margin-top: 1rem;
    }

    &__single {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @include phone {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      i {
        margin-right: 2rem;
        padding: .5rem;
        cursor: pointer;
        font-size: 1.5rem;

        @include phone {
          margin-right: 0;
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        opacity: 0;
        transition: .5s;
        height: 50%;
        vertical-align: middle;
        padding: .4rem .5rem;
        margin: auto 0;

        @include phone {
          width: 100%;
        }

        &.show-contact {
          opacity: 1;
          background: $background;
          color: $main-color;
        }
      }
    }
  }
}