.home {
  &__welcome {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem;

    @include phone {
      flex-direction: column-reverse;
      align-items: center;
    }

    img {
      width: 33.3%;
      object-fit: cover;
      height: 100%;
      padding: 0.5rem;
      border: 0.2rem groove;

      @include phone {
        width: 100%;
        height: auto;
      }
    }

    &__header {
      padding: 0 1rem;
      width: calc(60% - 1rem);

      @include phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
      }

      &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60%;

        @include phone {
          height: auto;
        }

        &__categories {
          display: flex;
          align-content: center;
          margin: 2rem 8rem;

          @include phone {
            flex-direction: column;
          }

          .diamond {
            position: relative;
            height: 10rem;
            width: 10rem;
            line-height: 8rem;
            text-align: center;
            z-index: 0;
            margin: 1rem auto;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              z-index: 0;
              transform: rotateX(45deg) rotateZ(45deg);
              box-shadow: 0 0 1rem gray;
              background: $main-color;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 1rem;
              height: 8rem;
              width: 8rem;
              z-index: 0;
              transform: rotateX(45deg) rotateZ(45deg);
              background: $background;
            }

            span {
              font-family: $decorative-font;
              font-size: 2.5rem;
              z-index: 5;
              position: relative;
              color: $main-color;
              width: 50%;

              &.rotated {
                position: absolute;
                left: -3.5rem;
                bottom: -3.5rem;
                transform: rotate(35deg);
                font-size: 1.5rem;
                font-family: $recipe-font;

                @include phone {
                  font-size: 1.2rem;
                  bottom: 0;
                  transform: rotate(35deg) translate(30%, 20%);
                }

              }
            }
          }
        }

        p {
          font-size: 1.2rem;
          line-height: 2rem;
          margin: 3rem;

          @include phone {
            margin: 1rem;
          }
        }
      }

      &__images {
        height: 40%;
        border: 0.2rem groove;
        margin: 0 2rem;

        @include phone {

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: .5rem;
        }

        img {
          border: none;
        }
      }
    }

    &:last-of-type {
      h2, p {
        text-align: right;
      }
    }
  }

  &__decoration {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 3rem;
      margin: 2rem;
      filter: drop-shadow(0.3rem 0.3rem 0.3rem $shadow-color);
      animation: swing ease-in-out 1s infinite alternate;
    }

    &:before,
    &:after {
      content: "";
      flex: 1 1;
      height: 1rem;
      background-image: radial-gradient(circle at 0.625rem 0, $background 0.5625rem, $main-color 0.625rem, $background 0.6875rem);
      background-repeat: repeat-x;
      background-size: 1.25rem 0.8rem;
    }
  }
}

@keyframes swing {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}