.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  i {
    font-size: 5rem;
    background: linear-gradient(to bottom, #4ca2cd, #67B26F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}