.photo {

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem 0;

    h2 {
      width: calc(35% - 1rem);
    }

    &__single {
      width: calc(20% - 1rem);
      min-width: 20rem;
      height: 100%;
      padding: 0.5rem;
      position: relative;
      cursor: pointer;

      a {
        z-index: -1;
      }

      img {
        vertical-align:top;
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border: 0.2rem groove $background;
        padding: 0.5rem;
      }

      span {
        position: absolute;
        left: 0;
        bottom: 40%;
        text-align: center;
        padding: 0.5rem;
        margin: 1rem .5rem 1rem 0;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        color: $background;
        opacity: 0;
        transition: .5s;
      }


      div:hover > span {
        opacity: 1;
        transform: rotate(45deg);
      }
    }
  }
}
