.scroll {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  right: 1rem;
  z-index: 10;
  top: 7%;
  width: 3rem;
  height: 3rem;
  background: #443838;
  border-radius: 50%;
  opacity: .5;
  transition: 1s;

  @include phone {
    top: 2%;
  }

  img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    transition: 1s;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &:hover {
    opacity: 1;
    cursor: pointer;

    & > img {
      animation: moveScroll 1s linear infinite;
    }
  }

}

@keyframes moveScroll {
  0%, 50%, 100% {
    bottom: 50%;
  }
  25% {
    bottom: 60%;
  }
  75% {
    bottom: 40%;
  }
}