.singleRecipe {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;

  &__details {
    display: flex;
    justify-content: center;
    align-content: center;
    @include phone-and-tablet {
      flex-direction: column-reverse;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      width: 50%;
      background: $carousel-color;
      margin: 3rem;

      @include phone-and-tablet {
        width: auto;
        margin: 1rem;
      }

      @include tablet {
        width: 90%;
        margin: auto;
      }

      &__video {
        @include phone-and-tablet {
          width: 80%;
          margin: auto;
        }
      }

      form {
        margin: 3rem 0;

        label {
          width: 90%;
          @include font-size(1.2);
          font-family: $base-font;
          text-align: left;
          line-height: 2.5rem;
          color: $decorative-color;
          margin: 1rem 0;
          cursor: pointer;
          padding: 0 2rem;

          @include phone {
            @include font-size(1);
            line-height: 2rem;
          }
        }

        input[type=checkbox] {
          position: relative;
          width: 1.5rem;
          height: 1.5rem;
          color: $text-color;
          border: .05rem solid $transparent-shadow-color;
          border-radius: .1rem;
          appearance: none;
          outline: 0;
          cursor: pointer;
          background: $background;
          @include transition(background 175ms cubic-bezier(0.1, 0.1, 0.25, 1));

          &::before {
            content: '';
            position: absolute;
            top: .1rem;
            left: .4rem;
            width: .5rem;
            height: .8rem;
            border-style: solid;
            border-color: $background;
            border-width: 0 .1rem .1rem 0;
            @include rotate(45);
            @include opacity(0);
          }

          &:checked {
            color: white;
            border-color: $decorative-color;
            background: $decorative-color;

            &::before {
              @include opacity(1);
            }

            & + label {
              text-decoration: line-through;
            }
          }
        }
      }

      &__steps {
        width: 80%;
        margin: auto;
      }

      img {
        margin: 0 auto;
        width: 60%;
      }

      &__category {
        display: flex;
        justify-content: flex-end;
        margin: 3rem 1rem;
        color: $decorative-color;
        font-weight: 500;

        span {
          @include font-size(.8);
          padding: 0.2rem 0.5rem;
          margin: 0 1rem;
          color: $background;
          letter-spacing: .2rem;
          cursor: pointer;
          transition: 1s;

          &:hover {
            filter: invert(1);
          }

          &.area {
            background: $decorative-color;
          }

          &.category {
            background: $tags-color;
          }
        }
      }

      &__tags {
        margin: 1rem;

        @include phone {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        span {
          background: $background;
          color: $decorative-color;
          @include font-size(.8);
          padding: 0.2rem 0.5rem;
          margin: 0 1rem;
          letter-spacing: .2rem;
          cursor: pointer;
          @include transition(1s);

          @include phone {
            margin: .5rem;
          }

          &:hover {
            color: $background;
            background: $decorative-color;
          }
        }
      }

    }

    &__photo {
      display: flex;
      flex-direction: column;
      position: relative;

      @include phone {
        margin-top: 6rem;
      }

      .photo {
        vertical-align: top;
        height: 30rem;
        object-fit: cover;
        border: 0.2rem groove;
        padding: 0.5rem;
        z-index: 0;

        @include phone {
          width: 90%;
          margin: auto;
        }

        @include tablet {
          width: 70%;
          margin: auto;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: rotate(7deg);
        z-index: 2;
        position: relative;
        padding: 1rem 0;
        top: -3rem;

        @include phone {
          margin: 0 2rem;
        }

        &:after {
          content: "";
          position: absolute;
          background: url('./../../assets/note.png') no-repeat;
          background-size: 50rem;
          z-index: 1;
          width: 140%;
          height: 100%;

          @include phone-and-tablet {
            margin-right: 3rem;
          }

          @include tablet {
            width: 70%;
          }
        }

        li {
          @include font-size(1.2);
          line-height: 3rem;
          letter-spacing: .2rem;
          font-weight: 600;
          color: $main-color;
          font-family: $recipe-font;
          text-shadow: 5px 5px $transparent-shadow-color;
          z-index: 2;
          text-align: center;

          &:first-of-type {
            @include font-size(2);
            margin-top: 2rem;
            text-decoration: overline;
            list-style: none;

            @include phone {
              @include font-size(1.5);
            }
          }

          @include phone {
            @include font-size(1);
          }

          span {
            margin: 0 2rem;
            color: $text-color;
            font-weight: 400;
          }
        }
      }
    }
  }
}
