body {
  background: $background;
  font-family: $base-font;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

h2 {
  @include font-size(2);
  font-weight: 400;
  letter-spacing: 0.7rem;
  margin: 3rem;
  text-transform: uppercase;

  &:first-letter {
    @include font-size(4);
    color: $main-color;
  }

  .title-decorate {
    background: $main-color;
    color: $background;
    padding: .5rem;

    @include phone {
      @include font-size(1);
    }
  }

  @include phone-and-tablet {
    margin: 1rem 3rem;
    line-height: 3rem;
    @include font-size(1.5);

    &:first-letter {
      @include font-size(3);
    }
  }
}

h3 {
  @include font-size(3);
  color: $decorative-color;
  font-family: $decorative-font;
  text-align: center;
  margin: 0 2rem;
  text-transform: capitalize;
  word-spacing: 1rem;

  @include tablet {
    @include font-size(2.5);
  }

  @include phone {
    @include font-size(1.6);
  }
}

h4 {
  font-family: $recipe-font;
  @include font-size(2);
  font-weight: 500;
  color: $background;
  background: $decorative-color;
  padding: 1rem;
  line-height: 2rem;

  @include phone {
    @include font-size(1.4);
  }
}

.small-button, .big-button, .medium-button {
  background: $background;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @include transition(color 150ms ease-in-out);
  margin: 2rem 0;

  @include phone {
    margin: 1rem 0;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.big-button {
  border: 0.2rem solid $main-color;
  color: $main-color;
  font-family: $decorative-font;
  padding: 1.5rem 4rem;
  @include font-size(2);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    flex: 1 1;
    height: 1rem;
    background-image: radial-gradient(circle at 0.625rem 0, $background 0.5625rem, $main-color 0.625rem, $background 0.6875rem);
    transform: rotate(180deg);
    left: 0;
    top: 0;
    background-repeat: repeat-x;
    background-size: 1.25rem 0.8rem;
    z-index: -1;
  }

  &:after {
    height: 20%;
    width: 100%;
    background-color: $main-color;
    @include transition(height .2s ease-in);
  }

  &:hover {
    color: $background;
    background-position: 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 3rem;
    width: 10rem;
    padding: 2rem 0;
    border-radius: .5rem;
    border: 0.2rem solid black;
    @include opacity(.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    @include transition(.5s);
    background-size: 200% 200%;
    background-image:
            linear-gradient(to top, $main-color 50%, transparent 50%);

    &:after {
      height: 100%;
    }
  }
}

.small-button {
  border: 0.1rem solid $decorative-color;
  background: transparent;
  color: $decorative-color;
  font-family: $title-font;
  padding: .3rem 1rem;
  @include font-size(.7);

  &:after {
    width: 0;
    height: 100%;
    background-color: $decorative-color;
    @include transition(width .2s ease-in);
  }

  &:hover {
    color: $background;
    background-position: 0 100%;

    &:after {
      width: 100%;
    }
  }
}

.medium-button {
  text-align: right;
  @include font-size(.7);
  text-transform: uppercase;
  border: 0.1rem solid $decorative-color;
  border-radius: 1rem;
  padding: .5rem 1rem;
  @include transition(.5s);
  font-weight: 900;
  @include opacity(.8);

  &:after {
    border-radius: 1rem;
    width: 0;
    height: 100%;
    background-color: $main-color;
    @include transition(width .2s ease-in);
  }

  &:hover {
    background: $main-color;
    color: $background;

    &:after {
      width: 100%;
    }
  }
}

.show-from-right, .show-from-left {
  @include opacity(0);
  @include transition(transform 4s .25s cubic-bezier(0,1,.3,1), opacity 4s .25s ease-out);

  &.is-visible {
    @include opacity(1);
  }
}

.show-from-left {
  @include transform(translate3d(5rem, -5rem, 0) scale(.6));

  &.is-visible {
    @include transform(translate3d(0, 0, 0));
  }
}

.show-from-right {
  @include transform(translate3d(-5rem, 5rem, 0) scale(.6));

  &.is-visible {
    @include transform(translate3d(0, 0, 0));
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: .5rem;
  border: 0.2rem solid black;
  @include opacity(.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  @include transition(.5s);
  background-size: 200% 200%;
  background-image:
          linear-gradient(to top, $main-color 50%, transparent 50%);

  span {
    text-align: center;
    font-family: $title-font;
    letter-spacing: .3rem;
    text-transform: uppercase;
    @include font-size(.8);
    @include transition(.5s);

    @include phone {
      letter-spacing: .2rem;
    }
  }

  &:hover {
    border: 0.2rem solid $main-color;
    @include opacity(1);
    cursor: pointer;
    background-image:
            linear-gradient(to top, $main-color 51%, transparent 50%);
    background-position: 0 100%;
    @include transition(.5s);

    span {
      letter-spacing: .1rem;
      color: $background;
    }
  }
}

.base-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('./../../assets/collage.png') no-repeat center;
    z-index: -1;
    left: 0;
    top: 0;
    @include opacity(.05);
  }

  h2 {
    text-align: center;
    margin-top: 7rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    position: relative;

    @include phone-and-tablet {
      width: 90%;
    }

    &__single {
      width: calc(100% / 6);
      height: 15rem;
      margin: 1rem;
      padding: .5rem;
      word-wrap: break-word;

      @include phone {
        width: 9rem;
        height: auto;
        margin: .5rem;
      }

      @include phone-and-tablet {
        width: 10rem;
        height: 10rem;
        margin: .5rem;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        width: 100%;
      }

      span {
        margin-top: 2rem;
      }
    }

    &__input {
      width: 50%;
      padding: 1rem;
      outline: none;
      text-align: center;
      font-family: $title-font;
      letter-spacing: .3rem;
      text-transform: uppercase;
      @include font-size(.7);
      @include transition(.5s);
      border-radius: 2rem;
      color: $main-color;
      font-weight: 700;
      margin: 1rem;

      @include phone {
        width: 90%;
      }

      &.error {
        border: .2rem solid crimson;
        color: crimson;
      }
    }

    &__enter {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &.area, &.ingredients {

    .base-page__buttons {
      flex-wrap: wrap;
      width: 50%;
      margin: 0 auto;

      @include phone-and-tablet {
        width: auto;
      }

      &__single {
        height: 3rem;
        padding: 1rem 2rem;
        margin: 1rem;

        @include phone {
          flex: 1 1 30%;
          width: 11rem;
        }
      }

      span {
        margin-top: 0;
      }
    }
  }

  &.ingredients {
    .fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
      &:after {
        content: none;
      }
    }

    .fa-long-arrow-alt-left {
      transform: translate(-100%, -50%);
    }

    .fa-long-arrow-alt-right {
      transform: translate(100%, -50%);
    }

    .base-page {
      &__buttons {
        flex-direction: column;

        &__single {
          width: 30rem;

          @include phone {
            width: 50%;
          }
        }
      }
    }

  }

  &.area {

    .base-page {
      &__buttons {
        flex-direction: row;

        &__single {
          width: 15rem;
        }
      }
    }
  }

  form {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.hidden {
  @include opacity(0);
}

.shown {
  @include opacity(1);
}

.switch-wrapper {
  position: relative;

  & > div {
    position: absolute;
    width: 100%;
  }
}

.flex-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

nav, footer {
  li {
    padding: 1rem 0;
    cursor: pointer;
    z-index: 1;

    a {
      color: white;
      text-decoration: none;
      @include transition(all 0.2s ease-in-out);
      position: relative;
      padding: 0.3rem 0;

      &:after, &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.05rem;
        @include transition(all 0.5s ease-in-out);
        @include opacity(0);
        background-color: $background;
      }

      &:hover {
        &:after, &:before {
          width: 100%;
          @include opacity(1);
        }
      }
    }

    &__enter {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
}