$background: #FFF;
$main-color: #228b8b;
$shadow-color: #808080;
$carousel-color: #d6f3f3;
$decorative-color: #43643c;
$border-color: #aaa6a6;
$decorative-color: #443838;
$transparent-shadow-color: rgba(0, 0, 0, 0.18);
$text-color: #000000;
$tags-color: #b89c9c;
$error-color: #DC143C;